*.o
*.d
*.crf
*.lst
*.lnp
*.htm
*.sct
*.dep
*.map
*.axf
*.build_log.htm
*.uvguix.*
*.uvoptx
DebugConfig/
Listings/
Objects/
*.pyc
__pycache__/
Build.log
Build_clean.log
Build_new.log
edit_main.py
fix2.py
fix_oled.py
keilkill.bat
main.o
Serial.o
